*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .app-header {
   display: flex;
   align-items: center;
   background-image: linear-gradient( 106.9deg,  #940e3c 60.9%, rgba(3,22,27,1) 122.3% );
   color: rgb(255, 255, 255);
   font-size:clamp(1rem,4vw,2.5rem);
   line-height: 56px;
 }
 .app-header p{
   width: 50%;
   font-family: "Roboto", sans-serif;
   margin: 2%;
   font-weight: 700;
 }
 .select-button{
   width: 50%;
   display: flex;
   justify-content: end;
   margin-right: 30px;
 }
 #coinSelect{
   height: 20px;
   background-color: transparent;
   border: none;
   color: white;
   margin-right: 25px;
   text-transform: uppercase;
   font-size: 1.2rem;
 }
 #coinSelect option{
   color: rgb(0, 0, 0);
 }
 .toogleMode{
   background-color: transparent;
   border:none;
 }
 svg{
   font-size: 20px;
   fill: rgb(255, 255, 255);
 }